<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= gname %></title>
    <link rel="stylesheet" href="/wap/style.css">
</head>
<body>
    <div class="main">
        <% channels.forEach(c => { %>
            <a href="/wap/ch?gname=<%= encodeURIComponent(gname) %>&cname=<%= encodeURIComponent(c.name) %>&id=<%= c.id %>">
                <%= c.label %>
            </a>
            <br/>
        <% }) %>
    </div>
</body>
</html>