<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= cname %></title>
    <link rel="stylesheet" href="/wap/<%= settings?.cssFile ?? 'style.css' %>">
    <link rel="shortcut icon" href="/wap/icon.png" type="image/png">
</head>
<body>
    <div class="main">
        <div style="text-align: center;">
            <% if (!settings.reverseChat) { %>
            <%- include('include/send'); %>
            <% } %>
            <%- include(settings.reverseChat ? 'include/olderMessages' : 'include/newerMessages'); %>
        </div>

        <% messages.forEach(m => { %>
            <a href="/wap/reply?id=<%= id %>&cname=<%= encodeURIComponent(cname) %>&rec=<%= m.id %>&recname=<%= encodeURIComponent(m.author.name) %>"><%= m.author.name %></a>
            <span class="time"><%= m.timestamp %></span>
            <% if (m.referenced_message) { %>
                <div class="reply">
                    <% if (!settings.compact) { %>
                        <img src="/wap/reply.gif" alt="reply to">
                    <% } %>
                    <%- settings.compact ? ('to ' + m.referenced_message.author.name + ':') : ('<b>' + m.referenced_message.author.name + '</b>') %>
                    <%- m.referenced_message.content %>
                </div>
            <% } %>
            <p>
                <%- m.content %>
            </p>
        <% }) %>

        <div id="bottom" style="text-align: center;">
            <%- include(settings.reverseChat ? 'include/newerMessages' : 'include/olderMessages'); %>
            <% if (settings.reverseChat) { %>
            <%- include('include/send'); %>
            <% } %>
        </div>
    </div>
</body>
</html>