<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= cname %></title>
    <link rel="stylesheet" href="/wap/style.css">
</head>
<body>
    <div class="main">
        <div style="text-align: center;">
            <form action="/wap/send">
                <input type="hidden" name="id" value="<%= id %>">
                <input type="hidden" name="cname" value="<%= cname %>">
                <input type="submit" value="Send message">
            </form>
            <% if (page > 0) { %>
                <form action="/wap/ch">
                    <input type="hidden" name="id" value="<%= id %>">
                    <input type="hidden" name="cname" value="<%= cname %>">
                    <% if (page > 1) { %>
                        <input type="hidden" name="after" value="<%= messages[0].id %>"/>
                        <input type="hidden" name="page" value="<%= page - 1 %>"/>
                    <% } %>
                    <input type="submit" value="Newer messages">
                </form>
            <% } %>
        </div>

        <% messages.forEach(m => { %>
            <a href="/wap/reply?id=<%= id %>&cname=<%= encodeURIComponent(cname) %>&rec=<%= m.id %>&recname=<%= encodeURIComponent(m.author.name) %>"><%= m.author.name %></a>
            <span class="time"><%= m.timestamp %></span>
            <% if (m.referenced_message) { %>
                <div class="reply">
                    <img src="/wap/reply.gif" alt="reply to">
                    <b><%= m.referenced_message.author.name %></b> <%- m.referenced_message.content %>
                </div>
            <% } %>
            <p>
                <%- m.content %>
            </p>
        <% }) %>

        <div style="text-align: center;">
            <% if (messages.length == messageCount) { %>
                <form action="/wap/ch">
                    <input type="hidden" name="id" value="<%= id %>">
                    <input type="hidden" name="cname" value="<%= cname %>">
                    <input type="hidden" name="before" value="<%= messages[messages.length - 1].id %>"/>
                    <input type="hidden" name="page" value="<%= page + 1 %>"/>
                    <input type="submit" value="Older messages">
                </form>
            <% } %>
        </div>
    </div>
</body>
</html>