<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Direct msgs.</title>
    <link rel="stylesheet" href="/wap/<%= settings?.cssFile ?? 'style.css' %>">
    <link rel="shortcut icon" href="/wap/icon.png" type="image/png">
</head>
<body>
    <div class="main list">
        <% dms.forEach(d => { %>
            <a href="/wap/ch?<%= d.isGroup ? 'cname' : 'dn' %>=<%= encodeURIComponent(d.name) %>&id=<%= d.id %><%= settings.reverseChat ? '#bottom' : '' %>"><%= d.name %></a>
            <br/>
        <% }) %>
    </div>
</body>
</html>