<?xml version="1.0"?>
<!DOCTYPE wml PUBLIC "-//WAPFORUM//DTD WML 1.1//EN" "http://www.wapforum.org/DTD/wml_1.1.xml">
<wml>
    <card id="main" title="Discord WAP">
        <onevent type="onenterforward">
            <refresh>
                <setvar name="token" value="<%= token %>"/>
            </refresh>
        </onevent>

        <p>
            <anchor>
                <go method="get" href="/wap/gl">
                    <postfield name="token" value="$(token)"/>
                </go>
                Servers
            </anchor>
            <br/>
            <a href="#dms">Direct messages</a>
            <br/>
            <anchor>
                <go method="get" href="/wap/set">
                    <postfield name="token" value="$(token)"/>
                </go>
                Settings
            </anchor>
            <br/>
            <a href="/wap">Log out</a>
        </p>
    </card>

    <card id="dms" title="Direct msgs.">
        <p align="center">
            <anchor>
                <prev/>
                Back
            </anchor>
        </p>
        <p>
            <% dms.forEach(d => { %>
                <anchor>
                    <go method="get" href="/wap/ch">
                        <setvar name="<%= d.isGroup ? 'cname' : 'dn' %>" value="<%= d.name %>"/>
                        <postfield name="token" value="$(token)"/>
                        <postfield name="id" value="<%= d.id %>"/>
                    </go>
                    <%= d.name %>
                </anchor>
                <br/>
            <% }) %>
        </p>
    </card>
</wml>